/* -------------------------------------------------------------------------- 
   TABLE OF CONTENTS:

   0. Custom
   1. Avatar
   2. Video intro

----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*	0. Custom
/* -------------------------------------------------------------------------- */

.mark-green {
  background: #00f0d0;
}

.mybgc1 {
  background-color: #dbdbdb;
}

.mybgc2 {
  background-color: #e4e4e4;
}

/* -------------------------------------------------------------------------- */
/*	1. Avatar
/* -------------------------------------------------------------------------- */

.avatar-container {
  width: 128px;
  height: 128px;
  margin-left: auto;
  position: relative;
}

.avatar-container img {
  width: 128px;
  height: 128px;
  border-radius: 64px;
}

/* -------------------------------------------------------------------------- */
/*	2. Video intro
/* -------------------------------------------------------------------------- */

.video-container {
  margin: 0 auto;
  min-width: 240px;
  max-width: 720px;
}
